@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    src: url('../../assets/fonts/avenir-next/avenir-next-light.woff2') format('truetype');
    font-weight: 100;
}
  
@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    src: url('../../assets/fonts/avenir-next/avenir-next-regular.woff2') format('truetype');
    font-weight: 200;
}
  
@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    src: url('../../assets/fonts/avenir-next/avenir-next-medium.woff2') format('truetype');
    font-weight: 400;
}
  
@font-face {
    font-family: 'Avenir Next';
    font-display: swap;
    src: url('../../assets/fonts/avenir-next/avenir-next-bold.woff2') format('truetype');
    font-weight: 600;
}
