$viewport-width: 900px;
$viewport-padding: 20px;

$font-weight-light: 100;
$font-weight-regular: 200;
$font-weight-medium: 400;
$font-weight-bold: 600;

$font-family: 'Avenir Next';
$font-size: 16px;
$font-weight: $font-weight-regular;
