.cartItemContainer {
    display: block;
}

.cartItemImage {
    float: left;
    max-width: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.cartItemDetails {
    float: left;
    margin-top: 0;
}

.cartItemTitle {
    font-size: 16px;
    font-weight: 400;
}

.cartItemCalculations {
    font-size: 14px;
    font-weight: 100;
}

.cartItemTotal {
    font-weight: 200;
}

.cartTotal {
    font-weight: 600;
    font-size: 18px;
}

.clear {
    clear: both;
}

.seeMyCartButton {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 10px;
    background-color: #046865;
    color: white;
    font-weight: 200;
    font-size: 16px;
}

.emptyCartContainer {
    text-align: center;
}

.emptyCartImage {
    display: block;
    margin: auto;
    max-width: 100px;
}

.emptyCartText {
    max-width: 150px;
}